<!-- 
    Authors: Section 2, Group 1 (Michael Hutchings, Jared Rosenlund, Adam Ross, and Ryan Ward)
    Description: This is a view that accepts the userid and displays each list connected to that user id.
    User can then click each list record to see recipes in the list.
 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="This is a platform providing a systematic way to study and implement the characteristics of Jesus Christ into one's own self.">

    <!-- Open Graph -->
    <meta property="og:title" content="Meal Planning Tool">
    <meta property="og:site_name" content="Easy Meal Planner">
    <meta property="og:url" content="">
    <meta property="og:description"
        content="Create and save favorite recipes, and generate a shopping list and meal plan for the week.">
    <meta property="og:type" content="website">
    <meta property="og:image:alt" content="Christ wearing a crown of thorns.">
    <meta property="og:image:width" content="1200px">
    <meta property="og:image:height" content="630px">

    <!-- Title -->
    <title>Cathy's Cookbook</title>

    <!-- Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../images/Cathy's (blk).svg">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/Cathy's (blk).svg">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/Cathy's (blk).svg">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body class="bg-image">
    <nav class="navbar">
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/search">My Recipes</a>
            <a href="/searchapi">Online Recipes</a>
            <a href="/addRecipe">Add Recipe</a>
            <a href="/manageAccount">Account</a>

            <!-- EJS FOR LOGIN / LOGOUT LINK FUNCTIONALITY -->

            <% if (user) { %>
                <% var name="Log Out" ; %>
                    <% var path="/logout" ; %>
                        <% } else { %>
                            <% var name="Log In" ; %>
                                <% var path="/login" ; %>
                                    <% } %>
                                        <a href="<%= path %>">
                                            <%= name %>
                                        </a>

        </div>
    </nav>

    <div class="space"></div>

    <div class="login-logo">
        <img src="../images/Cathy's (blk).svg" width="300px" height="300px">
    </div>

    <div class="space"></div>

    <main class="backdrop">
        <h1 class="mylists">My Lists</h1>
        <div class="table-container">
            <table class="MLtable">
                <thead>
                    <tr>
                        <th>List Name</th>
                        <th>View</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let iCount=0; iCount < userList.length; iCount++) { %>
                        <tr onclick="window.location='/list/<%= userList[iCount].listid%>'">
                            <td>
                                <%= userList[iCount].listname %>
                            </td>

                            <td><a href="/list/<%= userList[iCount].listid %>/<%= userList[iCount].listname %>"><button
                                        type="button" class="table-button">VIEW</button></a>
                            </td>
                            <td>
                                <form action="/deleteList/<%= userList[iCount].listid %>" method="post"><button
                                        type="submit" class="table-button">DELETE</button></form>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>

        <div class="space"></div>

        <div class="h4container">
            <h4 class="listh4">Create a New List</h4>
        </div>
        <form action="/addList" method="post">
            <div class="search-container">
                <input type="text" id="newList" name="newList" placeholder="Enter a List Name" class="newlistinput">
                <button type="submit" class="button">CREATE</button>
            </div>
        </form>

    </main>

    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
</body>

<footer>
    <p>Cathy's Cookbook © 2023</p>
</footer>

</html>